body{
    background-color: darkblue;
}
header{
    background-image: url(../images/lighthouselogo.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(132, 160, 208);
    text-align: center;
    padding: 10px;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav{
    margin-bottom: 0;
    background-color: rgb(129, 182, 227);
    display:flex;
    flex-direction: column;
    justify-content: center;
}
a{  
    display: flex;
    font-weight: bold;
    font-size:30px;
    color: white;
    padding: 20px;
    border: 1px solid white;
}
main{
    padding: 5px;
    background-color: white;
}
h3{
    font-size: larger;
    color: rgb(129, 182, 227);
}
img{
    margin: 10px;
    padding:5px;
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(129, 182, 227);
    text-align: center;
}